# env variables
.venv

# secret variables
.env
rootkey.csv

# cache
__pycache__
simulation/__pycache__
optimisation/__pycache__
optimisation/rl_optimiser/__pycache__

# ruff-linter cache
.ruff_cache

# mlflow local runs
mlruns

# prefect cache
.prefect_cache

# checkpoints cache
checkpoints
results